<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>AdonisJS - A fully featured web framework for Node.js</title>

  @entryPointScripts('users')
</head>

<body>
  {{--  Header  --}}
  @!component('components/header',{
    active:'users'
  })
  <div
    class="
      container
      mt-5
      mx-auto
      text-center
    "

  >
    <div class="">
      <h1>Usuarios Cadastrados</h1>
    </div>

    <div
      class="
        d-flex
        flex-column
      "
    >

      <a
        href="/signup"
        class="
          btn
          btn-primary
          align-self-start
          mb-4
          mt-4
          fw-bold
        "
        id="new-user"
        >
        Novo
        <i class="fa-solid fa-person-circle-plus"></i>
      </a>

      <table class="container table table-striped table-dark" id="users-table">

        <thead class="container"  id="users-thead">

          <tr class="fw-bold fs-4 ">
            <td class="user-id">ID</td>
            <td class="user-nome">NOME</td>
            <td class="user-email">EMAIL</td>
            <td class="user-opcoes">OPÇÕES</td>
          </tr>
        </thead>

        <tbody
          class="mt-1"
          id="users-tbody">

          @each(user in users)
            @set('show', (user.name==='Admin' && auth.user.name !== 'Admin'))
            
              <tr  id="users-tr" class={{show && 'd-none'}}>
                <td>{{user.id}}</td>
                <td id={{user.id}}>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>
                  <div class="users-table-btns">
                    <button
                      type="button"
                      class="btn btn-info btn-sm"
                      id="btn-editar"
                      value={{user.id}}
                      data-bs-toggle="modal"
                      data-bs-target="#modalUser"
                      >
                      <i class="fa-solid fa-user-pen"></i>
                      Editar
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      id="btn-remover"
                      data-bs-toggle="modal"
                      data-bs-target="#modalUser"
                      value={{user.id}}
                      @if(auth.user.id === user.id)
                        disabled
                      @end
                      >
                      <i class="fa-solid fa-trash"></i>
                      Remover
                    </button>
                  </div>
                </td>
              </tr>
          @endeach

        </tbody>

      </table>

    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="modalUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" id="closeModal" data-bs-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/ab5118b9cd.js" crossorigin="anonymous"></script>

<!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>
