@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import './signup.css';
@import './users.css';

html,
body {
  background-color: #f7f8fa;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  color: #46444c;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.transacoes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.transacoes form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.transacoes form label {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 0.7rem;
}

.transacoes form button {
  width: 4rem;
  padding: 4px;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.transacoes form button:hover {
  filter: brightness(0.8);
}

.message {
  margin-top: 1rem;
  padding: 8px;
  border-radius: 5px;
  width: 95%;
  text-align: center;
  transition: display 2s ease-out 1s;
}

.message span {
  color: #fff;
  font-size: 0.8rem;
}

.message-success {
  background-color: #28a745;
}

.message-warning {
  background-color: #ffc107;
}

.message-danger {
  background-color: #dc3545;
}

.hidden {
  display: none;
}

.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

table {
  display: flex;
  flex-direction: column;
}

.table-title {
  margin-bottom: 2rem;
}

.row-names {
  display: flex;
  gap: 15rem;
  padding: 1rem;
  margin-bottom: 0.9rem;
  border-bottom: 2px solid #46444c;
  font-size: 1.2rem;
  font-weight: bold;
}

.tr-values {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
  font-weight: 400;
}
