@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html,
body {
  background-color: #f7f8fa;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  color: #46444c;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




