.signup-container {
  width: 50%;
  margin: 2rem auto;
  text-align: center;
}

.signup-container .title {
  margin-bottom: 1.5rem;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup-container form input {
  border: 1px solid gray;
  padding: 0.3rem;
  margin-bottom: 15px;
  width: 100%;
}

.signup-container form button {
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  font-weight: 500;
  cursor: pointer;
  align-self: flex-start;
}

.signup-container form button:hover {
  filter: brightness(0.8);
}
